.fr-window, .fr-window [class^="fr-"],
.fr-overlay, .fr-overlay [class^="fr-"],
.fr-spinner, .fr-spinner [class^="fr-"]{box-sizing:border-box}.fr-window{position:fixed;width:100%;height:100%;top:0;left:0;font:13px/20px "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande",Verdana,Arial,sans-serif;transform:translateZ(0px)}.fr-overlay{z-index:99998}.fr-window{z-index:99999}.fr-spinner{z-index:100000}.fr-overlay{position:fixed;top:0;left:0;height:100%;width:100%}.fr-overlay-background{float:left;width:100%;height:100%;background:#000;opacity: .9;filter:alpha(opacity=90)}.fr-overlay-ui-fullclick .fr-overlay-background{background:#292929;opacity:1;filter:alpha(opacity=100)}.fr-window.fr-mobile-touch,.fr-overlay.fr-mobile-touch{position:absolute;overflow:visible}.fr-measured{margin:0
!important;min-width:0 !important;min-height:0 !important}.fr-box{position:absolute;top:0;left:0;width:100%;height:100%}.fr-pages{position:absolute;width:100%;height:100%;overflow:hidden;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fr-page{position:absolute;width:100%;height:100%}.fr-container{position:absolute;top:0;left:0;right:0;bottom:0;margin:0;padding:0;text-align:center}.fr-hovering-clickable .fr-container{cursor:pointer}.fr-ui-inside .fr-container{padding:20px
20px}.fr-ui-inside.fr-no-sides .fr-container{padding:20px}.fr-ui-outside .fr-container{padding:20px
82px}.fr-ui-outside.fr-no-sides .fr-container{padding:20px
48px}@media all and (max-width: 700px) and (orientation: portrait),
all and (orientation: landscape) and (max-height: 700px){.fr-ui-inside .fr-container{padding:12px
12px}.fr-ui-inside.fr-no-sides .fr-container{padding:12px}.fr-ui-outside .fr-container{padding:12px
72px}.fr-ui-outside.fr-no-sides .fr-container{padding:12px
48px}}@media all and (max-width: 500px) and (orientation: portrait),
all and (orientation: landscape) and (max-height: 500px){.fr-ui-inside .fr-container{padding:0px
0px}.fr-ui-inside.fr-no-sides .fr-container{padding:0px}.fr-ui-outside .fr-container{padding:0px
72px}.fr-ui-outside.fr-no-sides .fr-container{padding:0px
48px}}.fr-ui-fullclick .fr-container{padding:0}.fr-ui-fullclick.fr-no-sides .fr-container{padding:0}.fr-ui-fullclick.fr-type-video .fr-container{padding:0px
62px}.fr-ui-fullclick.fr-no-sides.fr-type-video .fr-container{padding:48px
0px}.fr-overflow-y .fr-container{padding-top:0 !important;padding-bottom:0!important}.fr-content,.fr-content-background{position:absolute;top:50%;left:50%;overflow:visible}.fr-content-element{float:left;width:100%;height:100%}.fr-content-background{background:#101010}.fr-info{position:absolute;top:0;left:0;width:100%;color:#efefef;font-size:13px;line-height:20px;text-align:left;-webkit-text-size-adjust:none;text-size-adjust:none;-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fr-info-background{position:absolute;top:0;left:0;height:100%;width:100%;background:#000;line-height:1%;filter:none;opacity:1}.fr-ui-inside .fr-info-background{filter:alpha(opacity=80);opacity: .8;zoom:1}.fr-ui-outside .fr-info-background{background:#0d0d0d}.fr-content .fr-info{top:auto;bottom:0}.fr-info-padder{display:block;overflow:hidden;padding:12px;position:relative;width:auto}.fr-caption{width:auto;display:inline;white-space:wrap}.fr-position{color:#b3b3b3;float:right;line-height:21px;opacity:0.99;position:relative;text-align:right;margin-left:15px;white-space:nowrap}.fr-position-outside,.fr-position-inside{position:absolute;bottom:0;right:0;margin:12px;width:auto;padding:2px
8px;border-radius:10px;font-size:11px;line-height:20px;text-shadow:0 1px 0 rgba(0,0,0,.4);display:none;overflow:hidden;white-space:nowrap;-webkit-text-size-adjust:none;text-size-adjust:none;-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fr-position-inside{border:0}.fr-position-background{position:absolute;top:0;left:0;width:100%;height:100%;background:#0d0d0d;filter:alpha(opacity=80);opacity: .8;zoom:1}.fr-position-text{color:#b3b3b3}.fr-position-outside .fr-position-text,
.fr-position-inside .fr-position-text{float:left;position:relative;text-shadow:0 1px 1px rgba(0,0,0,.3);opacity:1}.fr-ui-outside .fr-position-outside{display:block}.fr-ui-outside .fr-info .fr-position{display:none}.fr-ui-inside.fr-no-caption .fr-position-inside{display:block}.fr-info a,
.fr-info a:hover{color:#ccc;border:0;background:none;text-decoration:underline}.fr-info a:hover{color:#eee}.fr-ui-outside.fr-no-caption .fr-info{display:none}.fr-ui-inside.fr-no-caption .fr-caption{display:none}.fr-stroke{position:absolute;top:0;left:0;width:100%;height:1px}.fr-stroke-vertical{width:1px;height:100%}.fr-stroke-horizontal{padding:0
1px}.fr-stroke-right{left:auto;right:0}.fr-stroke-bottom{top:auto;bottom:0}.fr-stroke-color{float:left;width:100%;height:100%;background:rgba(255,255,255,.08)}.fr-info .fr-stroke-color{background:rgba(80,80,80,.3)}.fr-ui-outside.fr-has-caption .fr-content .fr-stroke-bottom{display:none}.fr-ui-fullclick .fr-stroke{display:none}.fr-ui-fullclick .fr-content-background{box-shadow:none}.fr-info .fr-stroke-top{display:none}.fr-side{position:absolute;top:50%;width:54px;height:72px;margin:0
9px;margin-top:-36px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;zoom:1}.fr-side-previous{left:0}.fr-side-next{right:0;left:auto}.fr-side-disabled{cursor:default}.fr-side-hidden{display:none !important}.fr-side-button{float:left;width:100%;height:100%;margin:0;padding:0}.fr-side-button-background{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#101010;background-color:#ccc}.fr-side-button-icon{float:left;position:relative;height:100%;width:100%;zoom:1;background-position:50% 50%;background-repeat:no-repeat}@media all and (max-width: 500px) and (orientation: portrait),
all and (orientation: landscape) and (max-height: 414px){.fr-side{width:54px;height:60px;margin:0;margin-top:-30px}.fr-side-button{width:48px;height:60px;margin:0
3px}}.fr-close{position:absolute;width:48px;height:48px;top:0;right:0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none}.fr-close-background,.fr-close-icon{position:absolute;top:12px;left:12px;height:26px;width:26px;background-position:50% 50%;background-repeat:no-repeat}.fr-close-background{background-color:#000}.fr-thumbnails{position:absolute;overflow:hidden}.fr-thumbnails-disabled .fr-thumbnails{display:none !important}.fr-thumbnails-horizontal .fr-thumbnails{width:100%;height:12%;min-height:74px;max-height:160px;bottom:0}.fr-thumbnails-vertical .fr-thumbnails{height:100%;width:10%;min-width:74px;max-width:160px;left:0}.fr-thumbnails,
.fr-thumbnails
*{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fr-thumbnails-wrapper{position:absolute;top:0;left:50%;height:100%}.fr-thumbnails-vertical .fr-thumbnails-wrapper{top:50%;left:0}.fr-thumbnails-slider{position:relative;width:100%;height:100%;float:left;zoom:1}.fr-thumbnails-slider-slide{position:absolute;top:0;left:0;height:100%}.fr-thumbnails-thumbs{float:left;height:100%;overflow:hidden;position:relative;top:0;left:0}.fr-thumbnails-slide{position:absolute;top:0;height:100%;width:100%}.fr-thumbnail-frame{position:absolute;zoom:1;overflow:hidden}.fr-thumbnail{position:absolute;width:30px;height:100%;left:50%;top:50%;zoom:1;cursor:pointer;margin:0
10px}.fr-ltIE9 .fr-thumbnail
*{overflow:hidden;z-index:1;zoom:1}.fr-thumbnail-wrapper{position:relative;background:#161616;width:100%;height:100%;float:left;overflow:hidden;display:inline;z-index:0}.fr-thumbnail-overlay{cursor:pointer}.fr-thumbnail-active .fr-thumbnail-overlay{cursor:default}.fr-thumbnail-overlay,.fr-thumbnail-overlay-background,.fr-thumbnail-overlay-border{position:absolute;top:0;left:0;width:100%;height:100%;border-width:0;overflow:hidden;border-style:solid;border-color:transparent}.fr-ltIE9 .fr-thumbnail-overlay-border{border-width:0 !important}.fr-thumbnail .fr-thumbnail-image{position:absolute;filter:alpha(opacity=85);opacity: .85;max-width:none}.fr-thumbnail:hover .fr-thumbnail-image,
.fr-thumbnail-active:hover .fr-thumbnail-image{filter:alpha(opacity=99);opacity: .99}.fr-thumbnail-active .fr-thumbnail-image,
.fr-thumbnail-active:hover .fr-thumbnail-image{filter:alpha(opacity=35);opacity: .35}.fr-thumbnail-active{cursor:default}.fr-thumbnail-loading,.fr-thumbnail-loading-background,.fr-thumbnail-loading-icon{position:absolute;top:0;left:0;width:100%;height:100%}.fr-thumbnail-loading-background{background-color:#161616;background-position:50% 50%;background-repeat:no-repeat;opacity: .8;position:relative;float:left}.fr-thumbnail-loading-icon{display:none}.fr-thumbnail-error .fr-thumbnail-image{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#202020}.fr-thumbnails-side{float:left;height:100%;width:28px;margin:0
5px;position:relative;overflow:hidden}.fr-thumbnails-side-previous{margin-left:12px}.fr-thumbnails-side-next{margin-right:12px}.fr-thumbnails-vertical .fr-thumbnails-side{height:28px;width:100%;margin:10px
0}.fr-thumbnails-vertical .fr-thumbnails-side-previous{margin-top:20px}.fr-thumbnails-vertical .fr-thumbnails-side-next{margin-bottom:20px}.fr-thumbnails-side-button{position:absolute;top:50%;left:50%;margin-top:-14px;margin-left:-14px;width:28px;height:28px;cursor:pointer}.fr-thumbnails-side-button-background{position:absolute;top:0;left:0;height:100%;width:100%;filter:alpha(opacity=80);opacity: .8;-moz-transition:background-color .2s ease-in;-webkit-transition:background-color .2s ease-in;transition:background-color .2s ease-in;background-color:#333;cursor:pointer;border-radius:4px}.fr-thumbnails-side-button:hover .fr-thumbnails-side-button-background{background-color:#3b3b3b}.fr-thumbnails-side-button-disabled
*{cursor:default}.fr-thumbnails-side-button-disabled:hover .fr-thumbnails-side-button-background{background-color:#333}.fr-thumbnails-side-button-icon{height:42px;width:42px;position:absolute;top:0;left:0;width:100%;height:100%}.fr-thumbnails-vertical .fr-thumbnails-side,
.fr-thumbnails-vertical .fr-thumbnails-thumbs,
.fr-thumbnails-vertical .fr-thumbnail-frame{clear:both}.fr-window-ui-fullclick .fr-thumbnails{background:#090909}.fr-window-ui-fullclick.fr-thumbnails-enabled.fr-thumbnails-horizontal .fr-info .fr-stroke-bottom{display:block !important}.fr-window-ui-fullclick.fr-thumbnails-enabled.fr-thumbnails-vertical .fr-info .fr-stroke-left{display:block !important}.fr-thumbnails-horizontal .fr-thumbnails-thumbs{padding:12px
5px}.fr-thumbnails-vertical .fr-thumbnails-thumbs{padding:5px
12px}.fr-thumbnails-measured .fr-thumbnails-thumbs{padding:0
!important}@media all and (min-height: 700px){.fr-thumbnails-horizontal .fr-thumbnails-thumbs{padding:16px
8px}.fr-thumbnails-horizontal .fr-thumbnails-side{margin:0
8px}.fr-thumbnails-horizontal .fr-thumbnails-side-previous{margin-left:16px}.fr-thumbnails-horizontal .fr-thumbnails-side-next{margin-right:16px}}@media all and (min-height: 980px){.fr-thumbnails-horizontal .fr-thumbnails-thumbs{padding:20px
10px}.fr-thumbnails-horizontal .fr-thumbnails-side{margin:0
10px}.fr-thumbnails-horizontal .fr-thumbnails-side-previous{margin-left:20px}.fr-thumbnails-horizontal .fr-thumbnails-side-next{margin-right:20px}}@media all and (min-width: 1200px){.fr-thumbnails-vertical .fr-thumbnails-thumbs{padding:8px
16px}.fr-thumbnails-vertical .fr-thumbnails-side{margin:0
8px}.fr-thumbnails-vertical .fr-thumbnails-side-previous{margin-top:16px}.fr-thumbnails-vertical .fr-thumbnails-side-next{margin-bottom:16px}}@media all and (min-width: 1800px){.fr-thumbnails-vertical .fr-thumbnails-thumbs{padding:10px
20px}.fr-thumbnails-vertical .fr-thumbnails-side{margin:10px
0}.fr-thumbnails-vertical .fr-thumbnails-side-previous{margin-top:20px}.fr-thumbnails-vertical .fr-thumbnails-side-next{margin-bottom:20px}}@media all and (max-width: 500px) and (orientation: portrait),
all and (orientation: landscape) and (max-height: 500px){.fr-thumbnails-horizontal .fr-thumbnails{display:none !important}}@media all and (max-width: 700px) and (orientation: portrait),
all and (orientation: landscape) and (max-height: 414px){.fr-thumbnails-vertical .fr-thumbnails{display:none !important}}@media all and (max-width: 500px) and (orientation: portrait),
all and (orientation: landscape) and (max-height: 414px){.fr-page{min-width:100%}.fr-page{min-height:100%}}.fr-window-ui-fullclick .fr-side-next-outside,
.fr-window-ui-fullclick .fr-side-previous-outside,
.fr-window-ui-fullclick .fr-close-outside,
.fr-window-ui-fullclick .fr-content .fr-side-next,
.fr-window-ui-fullclick .fr-content .fr-side-previous,
.fr-window-ui-fullclick .fr-content .fr-close,
.fr-window-ui-fullclick .fr-content .fr-info,
.fr-window-ui-outside .fr-side-next-fullclick,
.fr-window-ui-outside .fr-side-previous-fullclick,
.fr-window-ui-outside .fr-close-fullclick,
.fr-window-ui-outside .fr-content .fr-side-next,
.fr-window-ui-outside .fr-content .fr-side-previous,
.fr-window-ui-outside .fr-content .fr-close,
.fr-window-ui-outside .fr-content .fr-info,
.fr-window-ui-inside .fr-page > .fr-info,
.fr-window-ui-inside .fr-side-next-fullclick,
.fr-window-ui-inside .fr-side-previous-fullclick,
.fr-window-ui-inside .fr-close-fullclick,
.fr-window-ui-inside .fr-side-next-outside,
.fr-window-ui-inside .fr-side-previous-outside,
.fr-window-ui-inside .fr-close-outside{display:none !important}.fr-toggle-ui{opacity:0;-webkit-transition:opacity .3s;transition:opacity .3s}.fr-visible-fullclick-ui .fr-box > .fr-toggle-ui,
.fr-visible-inside-ui .fr-ui-inside .fr-toggle-ui{opacity:1}.fr-hidden-fullclick-ui .fr-box > .fr-toggle-ui,
.fr-hidden-inside-ui .fr-ui-inside .fr-toggle-ui{-webkit-transition:opacity .3s;transition:opacity .3s}.fr-ltIE9.fr-hidden-fullclick-ui .fr-box > .fr-toggle-ui,
.fr-ltIE9.fr-hidden-inside-ui .fr-ui-inside .fr-toggle-ui{display:none}.fr-spinner{position:fixed;width:52px;height:52px;background:#101010;background:rgba(16,16,16,.85);border-radius:5px}.fr-spinner
div{position:absolute;top:0;left:0;height:64%;width:64%;margin-left:18%;margin-top:18%;opacity:1;-webkit-animation:fresco-12 1.2s infinite ease-in-out;animation:fresco-12 1.2s infinite ease-in-out}.fr-spinner div:after{content:'';position:absolute;top:0;left:50%;width:2px;height:8px;margin-left:-1px;background:#fff;box-shadow:0 0 1px rgba(0,0,0,0)}.fr-spinner div.fr-spin-1{-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);-webkit-animation-delay:-1.1s;animation-delay:-1.1s}.fr-spinner div.fr-spin-2{-ms-transform:rotate(60deg);-webkit-transform:rotate(60deg);transform:rotate(60deg);-webkit-animation-delay:-1.0s;animation-delay:-1.0s}.fr-spinner div.fr-spin-3{-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-animation-delay:-0.9s;animation-delay:-0.9s}.fr-spinner div.fr-spin-4{-ms-transform:rotate(120deg);-webkit-transform:rotate(120deg);transform:rotate(120deg);-webkit-animation-delay:-0.8s;animation-delay:-0.8s}.fr-spinner div.fr-spin-5{-ms-transform:rotate(150deg);-webkit-transform:rotate(150deg);transform:rotate(150deg);-webkit-animation-delay:-0.7s;animation-delay:-0.7s}.fr-spinner div.fr-spin-6{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-animation-delay:-0.6s;animation-delay:-0.6s}.fr-spinner div.fr-spin-6{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-animation-delay:-0.6s;animation-delay:-0.6s}.fr-spinner div.fr-spin-7{-ms-transform:rotate(210deg);-webkit-transform:rotate(210deg);transform:rotate(210deg);-webkit-animation-delay:-0.5s;animation-delay:-0.5s}.fr-spinner div.fr-spin-8{-ms-transform:rotate(240deg);-webkit-transform:rotate(240deg);transform:rotate(240deg);-webkit-animation-delay:-0.4s;animation-delay:-0.4s}.fr-spinner div.fr-spin-9{-ms-transform:rotate(270deg);-webkit-transform:rotate(270deg);transform:rotate(270deg);-webkit-animation-delay:-0.3s;animation-delay:-0.3s}.fr-spinner div.fr-spin-10{-ms-transform:rotate(300deg);-webkit-transform:rotate(300deg);transform:rotate(300deg);-webkit-animation-delay:-0.2s;animation-delay:-0.2s}.fr-spinner div.fr-spin-11{-ms-transform:rotate(330deg);-webkit-transform:rotate(330deg);transform:rotate(330deg);-webkit-animation-delay:-0.1s;animation-delay:-0.1s}.fr-spinner div.fr-spin-12{-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg);-webkit-animation-delay:0s;animation-delay:0s}@-webkit-keyframes fresco-12{0%{opacity:1}100%{opacity:0}}@keyframes fresco-12{0%{opacity:1}100%{opacity:0}}.fr-thumbnail-spinner{position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-20px;width:40px;height:40px}.fr-thumbnail-spinner-spin{position:relative;float:left;margin:8px
0 0 8px;text-indent:-9999em;border-top:2px solid rgba(255, 255, 255, 0.2);border-right:2px solid rgba(255, 255, 255, 0.2);border-bottom:2px solid rgba(255, 255, 255, 0.2);border-left:2px solid #fff;-webkit-animation:fr-thumbnail-spin 1.1s infinite linear;animation:fr-thumbnail-spin 1.1s infinite linear}.fr-thumbnail-spinner-spin,.fr-thumbnail-spinner-spin:after{border-radius:50%;width:24px;height:24px}@-webkit-keyframes fr-thumbnail-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes fr-thumbnail-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fr-error{float:left;position:relative;background-color:#ca3434;width:160px;height:160px}.fr-error-icon{position:absolute;width:42px;height:42px;top:50%;left:50%;margin-left:-21px;margin-top:-21px}.fr-window-skin-fresco .fr-side-button-icon,
.fr-window-skin-fresco .fr-close-icon,
.fr-window-skin-fresco .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco .fr-error-icon{background-image:url('/css/fresco/skins/fresco/sprite.svg')}.fr-window-skin-fresco.fr-no-svg .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-close-icon,
.fr-window-skin-fresco.fr-no-svg .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco .fr-error-icon{background-image:url('/css/fresco/skins/fresco/sprite.png')}.fr-window-skin-fresco .fr-error-icon{background-position:-160px -126px}.fr-window-skin-fresco .fr-content-background{background:#101010;box-shadow:0 0 5px rgba(0,0,0,.4)}.fr-window-skin-fresco.fr-window-ui-fullclick .fr-content-background{box-shadow:none}.fr-window-skin-fresco .fr-thumbnail-wrapper{box-shadow:0 0 3px rgba(0, 0, 0, .3)}.fr-window-skin-fresco .fr-thumbnail-active .fr-thumbnail-wrapper{box-shadow:0 0 1px rgba(0, 0, 0, .1)}.fr-window-skin-fresco .fr-side-button-background{background-color:transparent}.fr-window-skin-fresco .fr-side-previous .fr-side-button-icon{background-position:-13px -14px}.fr-window-skin-fresco .fr-side-next .fr-side-button-icon{background-position:-93px -14px}.fr-window-skin-fresco .fr-side-previous:hover .fr-side-button-icon{background-position:-13px -114px}.fr-window-skin-fresco .fr-side-next:hover .fr-side-button-icon{background-position:-93px -114px}.fr-window-skin-fresco.fr-no-svg .fr-hovering-previous .fr-side-previous .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg.fr-mobile-touch .fr-side-previous .fr-side-button-icon{background-position:-13px -114px}.fr-window-skin-fresco.fr-no-svg .fr-hovering-next .fr-side-next .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg.fr-mobile-touch .fr-side-next .fr-side-button-icon{background-position:-93px -114px}.fr-window-skin-fresco.fr-no-svg .fr-side-previous.fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-hovering-previous .fr-side-previous.fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-side-previous.fr-side-disabled:hover .fr-side-button-icon{background-position:-13px -214px}.fr-window-skin-fresco.fr-no-svg .fr-side-next.fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-hovering-next .fr-side-next.fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-side-next.fr-side-disabled:hover .fr-side-button-icon{background-position:-93px -214px}.fr-window-skin-fresco.fr-svg .fr-side-previous .fr-side-button-icon{background-position:-13px -114px}.fr-window-skin-fresco.fr-svg .fr-side-next .fr-side-button-icon{background-position:-93px -114px}.fr-window-skin-fresco.fr-svg .fr-side-button-icon{opacity: .5}.fr-window-skin-fresco.fr-svg .fr-side:hover .fr-side-button-icon,
.fr-window-skin-fresco.fr-svg .fr-hovering-previous .fr-side-previous .fr-side-button-icon,
.fr-window-skin-fresco.fr-svg .fr-hovering-next .fr-side-next .fr-side-button-icon{opacity:1}.fr-window-skin-fresco.fr-svg.fr-mobile-touch .fr-side .fr-side-button-icon{opacity: .8}.fr-window-skin-fresco.fr-svg .fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-svg .fr-hovering-previous .fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-svg .fr-hovering-next .fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-svg .fr-side-disabled:hover .fr-side-button-icon,
.fr-window-skin-fresco.fr-svg.fr-mobile-touch .fr-side-disabled .fr-side-button-icon{opacity: .2}.fr-window-skin-fresco.fr-window-ui-inside .fr-type-image .fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-window-ui-fullclick.fr-showing-type-image .fr-side-disabled .fr-side-button-icon{background-image:none}@media all and (max-width: 500px) and (orientation: portrait),
all and (orientation: landscape) and (max-height: 414px){.fr-window-skin-fresco .fr-side-previous .fr-side-button-icon{background-position:0px -300px}.fr-window-skin-fresco .fr-side-next .fr-side-button-icon{background-position:-48px -300px}.fr-window-skin-fresco .fr-side-previous:hover .fr-side-button-icon{background-position:0px -360px}.fr-window-skin-fresco .fr-side-next:hover .fr-side-button-icon{background-position:-48px -360px}.fr-window-skin-fresco.fr-no-svg .fr-hovering-previous .fr-side-previous .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg.fr-mobile-touch .fr-side-previous .fr-side-button-icon{background-position:0px -360px}.fr-window-skin-fresco.fr-no-svg .fr-hovering-next .fr-side-next .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg.fr-mobile-touch .fr-side-next .fr-side-button-icon{background-position:-48px -360px}.fr-window-skin-fresco.fr-svg .fr-side-previous .fr-side-button-icon{background-position:0px -360px}.fr-window-skin-fresco.fr-svg .fr-side-next .fr-side-button-icon{background-position:-48px -360px}.fr-window-skin-fresco.fr-no-svg .fr-side-previous.fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-hovering-previous .fr-side-previous.fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-side-previous.fr-side-disabled:hover .fr-side-button-icon{background-position:0px -420px}.fr-window-skin-fresco.fr-no-svg .fr-side-next.fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-hovering-next .fr-side-next.fr-side-disabled .fr-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-side-next.fr-side-disabled:hover .fr-side-button-icon{background-position:-48px -420px}}.fr-window-skin-fresco.fr-window-ui-outside .fr-close-background{background-color:#363636}.fr-window-skin-fresco.fr-window-ui-outside .fr-close:hover .fr-close-background{background-color:#434343}.fr-window-skin-fresco.fr-window-ui-inside .fr-close-background,
.fr-window-skin-fresco.fr-window-ui-fullclick .fr-close-background{background-color:#131313;filter:alpha(opacity=80);opacity: .8}.fr-window-skin-fresco.fr-window-ui-inside .fr-close:hover .fr-close-background,
.fr-window-skin-fresco.fr-window-ui-fullclick .fr-close:hover .fr-close-background{background-color:#191919}.fr-window-skin-fresco .fr-close .fr-close-icon{background-position:-168px -8px}.fr-window-skin-fresco .fr-close:hover .fr-close-icon{background-position:-210px -8px}.fr-window-skin-fresco.fr-svg .fr-close .fr-close-icon{background-position:-210px -8px;opacity: .8}.fr-window-skin-fresco .fr-close:hover .fr-close-icon{opacity:1}.fr-window-skin-fresco.fr-svg.fr-mobile-touch .fr-close .fr-close-icon,
.fr-window-skin-fresco.fr-mobile-touch .fr-close:hover .fr-close-icon{opacity:1}.fr-window-skin-fresco .fr-thumbnail-wrapper{border-color:transparent;border-style:solid;border-width:0}.fr-window-skin-fresco .fr-thumbnail-wrapper{box-shadow:0 0 3px rgba(0, 0, 0, .3)}.fr-window-skin-fresco .fr-thumbnail-active .fr-thumbnail-wrapper{box-shadow:0 0 1px rgba(0, 0, 0, .1)}.fr-window-skin-fresco .fr-thumbnail-wrapper{box-shadow:0 -1px 4px rgba(0, 0, 0, .3)}.fr-window-skin-fresco .fr-thumbnail-overlay-border{border-width:1px;border-color:rgba(255, 255, 255, .08)}.fr-window-skin-fresco .fr-thumbnail-active .fr-thumbnail-overlay-border,
.fr-window-skin-fresco .fr-thumbnail-active:hover .fr-thumbnail-overlay-border{border:0px}.fr-window-skin-fresco .fr-thumbnails-side-previous .fr-thumbnails-side-button-icon{background-position:-167px -49px}.fr-window-skin-fresco .fr-thumbnails-side-previous:hover .fr-thumbnails-side-button-icon{background-position:-209px -49px}.fr-window-skin-fresco .fr-thumbnails-side-next .fr-thumbnails-side-button-icon{background-position:-167px -91px}.fr-window-skin-fresco .fr-thumbnails-side-next:hover .fr-thumbnails-side-button-icon{background-position:-209px -91px}.fr-window-skin-fresco.fr-thumbnails-vertical .fr-thumbnails-side-previous .fr-thumbnails-side-button-icon{background-position:-293px -49px}.fr-window-skin-fresco.fr-thumbnails-vertical .fr-thumbnails-side-previous:hover .fr-thumbnails-side-button-icon{background-position:-335px -49px}.fr-window-skin-fresco.fr-thumbnails-vertical .fr-thumbnails-side-next .fr-thumbnails-side-button-icon{background-position:-293px -91px}.fr-window-skin-fresco.fr-thumbnails-vertical .fr-thumbnails-side-next:hover .fr-thumbnails-side-button-icon{background-position:-335px -91px}.fr-window-skin-fresco.fr-svg .fr-thumbnails-side .fr-thumbnails-side-button-icon{-moz-transition:opacity .2s ease-in;-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;opacity: .8}.fr-window-skin-fresco.fr-svg .fr-thumbnails-side-previous .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco.fr-svg .fr-thumbnails-side-previous .fr-thumbnails-side-button-disabled{background-position:-167px -49px}.fr-window-skin-fresco.fr-svg .fr-thumbnails-side-next .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco.fr-svg .fr-thumbnails-side-next .fr-thumbnails-side-button-disabled{background-position:-209px -91px}.fr-window-skin-fresco.fr-svg .fr-thumbnails-side:hover .fr-thumbnails-side-button-icon{opacity:1}.fr-window-skin-fresco.fr-svg.fr-thumbnails-vertical .fr-thumbnails-side-previous .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco.fr-svg.fr-thumbnails-vertical .fr-thumbnails-side-previous .fr-thumbnails-side-button-disabled{background-position:-293px -49px}.fr-window-skin-fresco.fr-svg.fr-thumbnails-vertical .fr-thumbnails-side-next .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco.fr-svg.fr-thumbnails-vertical .fr-thumbnails-side-next .fr-thumbnails-side-button-disabled{background-position:-335px -91px}.fr-window-skin-fresco.fr-svg .fr-thumbnails-side .fr-thumbnails-side-button-disabled,
.fr-window-skin-fresco.fr-svg .fr-thumbnails-side:hover .fr-thumbnails-side-button-disabled{opacity: .5}.fr-window-skin-fresco.fr-no-svg .fr-thumbnails-side-previous .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-thumbnails-side-previous:hover .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-icon{background-position:-251px -49px}.fr-window-skin-fresco.fr-no-svg .fr-thumbnails-side-next .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco.fr-no-svg .fr-thumbnails-side-next:hover .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-icon{background-position:-251px -91px}.fr-window-skin-fresco.fr-no-svg .fr-thumbnails-side .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-background,
.fr-window-skin-fresco.fr-no-svg .fr-thumbnails-side:hover .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-background{filter:alpha(opacity=50)}.fr-window-skin-fresco.fr-no-svg.fr-thumbnails-vertical .fr-thumbnails-side-previous .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco.fr-no-svg.fr-thumbnails-vertical .fr-thumbnails-side-previous:hover .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-icon{background-position:-377px -49px}.fr-window-skin-fresco.fr-no-svg.fr-thumbnails-vertical .fr-thumbnails-side-next .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-icon,
.fr-window-skin-fresco.fr-no-svg.fr-thumbnails-vertical .fr-thumbnails-side-next:hover .fr-thumbnails-side-button-disabled .fr-thumbnails-side-button-icon{background-position:-377px -91px}.tpd-tooltip{position:absolute}.tpd-tooltip,
.tpd-tooltip [class^="tpd-"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.tpd-content-wrapper{position:absolute;top:0;left:0;float:left;width:100%;height:100%;overflow:hidden}.tpd-content-spacer,.tpd-content-relative,.tpd-content-relative-padder{float:left;position:relative}.tpd-content-relative{width:100%}.tpd-content{float:left;clear:both;position:relative;padding:10px;font-size:11px;line-height:16px;color:#fff}.tpd-has-inner-close .tpd-content-relative .tpd-content{padding-right:0 !important}.tpd-tooltip .tpd-content-no-padding{padding:0
!important}.tpd-title-wrapper{float:left;position:relative;overflow:hidden}.tpd-title-spacer{float:left}.tpd-title-relative,.tpd-title-relative-padder{float:left;position:relative}.tpd-title-relative{width:100%}.tpd-title{float:left;position:relative;font-size:11px;line-height:16px;padding:10px;font-weight:bold;text-transform:uppercase;color:#fff}.tpd-has-title-close .tpd-title{padding-right:0 !important}.tpd-close{position:absolute;top:0;right:0;width:28px;height:28px;cursor:pointer;overflow:hidden;color:#fff}.tpd-close-icon{float:left;font-family:Arial,Baskerville,monospace;font-weight:normal;font-style:normal;text-decoration:none;width:28px;height:28px;font-size:28px;line-height:28px;text-align:center}.tpd-skin{position:absolute;top:0;left:0}.tpd-frames{position:absolute;top:0;left:0}.tpd-frames .tpd-frame{float:left;width:100%;height:100%;clear:both;display:none}.tpd-visible-frame-top .tpd-frame-top{display:block}.tpd-visible-frame-bottom .tpd-frame-bottom{display:block}.tpd-visible-frame-left .tpd-frame-left{display:block}.tpd-visible-frame-right .tpd-frame-right{display:block}.tpd-backgrounds{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transform-origin:0% 0%;transform-origin:0% 0%}.tpd-background-shadow{position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent;pointer-events:none}.tpd-no-shadow .tpd-skin .tpd-background-shadow{box-shadow:none !important}.tpd-background-box{position:absolute;top:0;left:0;height:100%;width:100%;overflow:hidden}.tpd-no-stem .tpd-background-box,
.tpd-no-stem .tpd-shift-stem{display:none}.tpd-no-stem .tpd-background-box-top{display:block}.tpd-background-box-shift,.tpd-background-box-shift-further{position:relative;float:left;width:100%;height:100%}.tpd-background{border-radius:10px;float:left;clear:both;background:none;-webkit-background-clip:padding-box;background-clip:padding-box;border-style:solid;border-width:1px;border-color:#282828;border-color:rgba(255,255,255,.1)}.tpd-background-loading{display:none}.tpd-no-radius .tpd-skin .tpd-frames .tpd-frame .tpd-backgrounds .tpd-background{border-radius:0}.tpd-background-title{float:left;clear:both;width:100%;background-color:#282828}.tpd-background-content{float:left;clear:both;width:100%;background-color:#282828}.tpd-background-border-hack{position:absolute;top:0;left:0;width:100%;height:100%;border-style:solid}.tpd-background-box-top{top:0}.tpd-background-box-bottom{bottom:0}.tpd-background-box-left{left:0}.tpd-background-box-right{right:0}.tpd-iframeshim{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;zoom:1;filter:alpha(opacity=0);opacity:0}.tpd-shift-stem{position:absolute;top:0;left:0;overflow:hidden}.tpd-shift-stem-side{position:absolute}.tpd-frame-top .tpd-shift-stem-side,
.tpd-frame-bottom .tpd-shift-stem-side{width:100%}.tpd-frame-left .tpd-shift-stem-side,
.tpd-frame-right .tpd-shift-stem-side{height:100%}.tpd-stem{position:absolute;top:0;left:0;overflow:hidden;width:16px;height:8px;margin-left:3px;margin-top:2px;-webkit-transform-origin:0% 0%;transform-origin:0% 0%}.tpd-tooltip .tpd-skin .tpd-frames .tpd-frame .tpd-shift-stem .tpd-stem-reset{margin:0
!important}.tpd-stem-spacer{position:absolute;top:0;left:0;width:100%;height:100%}.tpd-stem-reset .tpd-stem-spacer{margin-top:0}.tpd-stem-point{width:100px;position:absolute;top:0;left:50%}.tpd-stem-downscale,.tpd-stem-transform{float:left;width:100%;height:100%;-webkit-transform-origin:0% 0%;transform-origin:0% 0%;position:relative}.tpd-stem-side{width:50%;height:100%;float:left;position:relative;overflow:hidden}.tpd-stem-side-inversed{-webkit-transform:scale(-1,1);transform:scale(-1,1)}.tpd-stem-triangle{width:0;height:0;border-bottom-style:solid;border-left-color:transparent;border-left-style:solid;position:absolute;top:0;left:0}.tpd-stem-border{width:20px;height:100%;position:absolute;top:0;left:50%;background-color:#fff;border-right-color:#fff;border-right-style:solid;border-right-width:0}.tpd-stem-border-corner{position:absolute;top:0;left:50%;height:100%;border-right-style:solid;border-right-width:0}.tpd-stem
*{z-index:0;zoom:1}.tpd-stem-border-center-offset,.tpd-stem-border-center-offset-inverse{float:left;position:relative;width:100%;height:100%;overflow:hidden}.tpd-stem-notransform{float:left;width:100%;height:100%;position:relative}.tpd-stem-notransform .tpd-stem-border{height:100%;position:relative;float:left;top:0;left:0;margin:0}.tpd-stem-notransform .tpd-stem-border-center{position:absolute}.tpd-stem-notransform .tpd-stem-border-corner{background:#fff;border:0;top:auto;left:auto}.tpd-stem-notransform .tpd-stem-border-center,
.tpd-stem-notransform .tpd-stem-triangle{height:0;border:0;left:50%}.tpd-stem-transform-left{-webkit-transform:rotate(-90deg) scale(-1,1);transform:rotate(-90deg) scale(-1,1)}.tpd-stem-transform-right{-webkit-transform:rotate(90deg) translate(0, -100%);transform:rotate(90deg) translate(0,-100%)}.tpd-stem-transform-bottom{-webkit-transform:scale(1,-1) translate(0, -100%);transform:scale(1,-1) translate(0,-100%)}.tpd-spinner{position:absolute;top:50%;left:50%;width:46px;height:36px}.tpd-spinner-spin{position:relative;float:left;margin:8px
0 0 13px;text-indent:-9999em;border-top:2px solid rgba(255, 255, 255, 0.2);border-right:2px solid rgba(255, 255, 255, 0.2);border-bottom:2px solid rgba(255, 255, 255, 0.2);border-left:2px solid #fff;-webkit-animation:tpd-spinner-animation 1.1s infinite linear;animation:tpd-spinner-animation 1.1s infinite linear;box-sizing:border-box !important}.tpd-spinner-spin,.tpd-spinner-spin:after{border-radius:50%;width:20px;height:20px}@-webkit-keyframes tpd-spinner-animation{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes tpd-spinner-animation{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.tpd-is-loading .tpd-content-wrapper,
.tpd-is-loading .tpd-title-wrapper{display:none}.tpd-is-loading .tpd-background{display:none}.tpd-is-loading .tpd-background-loading{display:block}.tpd-tooltip-measuring{top:0;left:0;position:absolute;max-width:100%;width:100%}.tpd-tooltip-measuring .tpd-skin,
.tpd-tooltip-measuring .tpd-spinner{display:none}.tpd-tooltip-measuring .tpd-content-wrapper,
.tpd-tooltip-measuring .tpd-title-wrapper{display:block}.tpd-tooltip a,
.tpd-tooltip a:hover{color:#808080;text-decoration:underline}.tpd-tooltip a:hover{color:#6c6c6c}.tpd-size-x-small .tpd-content,
.tpd-size-x-small .tpd-title{padding:7px
8px;font-size:10px;line-height:15px}.tpd-size-x-small .tpd-background{border-radius:5px}.tpd-size-x-small .tpd-stem{width:12px;height:6px;margin-left:4px;margin-top:2px}.tpd-size-x-small.tpd-no-radius .tpd-stem{margin-left:7px}.tpd-size-x-small .tpd-close{margin-bottom:1px}.tpd-size-x-small .tpd-spinner{width:35px;height:29px}.tpd-size-x-small .tpd-spinner-spin{margin:6px
0 0 9px}.tpd-size-x-small .tpd-spinner-spin,
.tpd-size-x-small .tpd-spinner-spin:after{width:17px;height:17px}.tpd-size-small .tpd-content,
.tpd-size-small .tpd-title{padding:8px;font-size:10px;line-height:16px}.tpd-size-small .tpd-background{border-radius:6px}.tpd-size-small .tpd-stem{width:14px;height:7px;margin-left:5px;margin-top:2px}.tpd-size-small.tpd-no-radius .tpd-stem{margin-left:8px}.tpd-size-small .tpd-close{margin:2px
1px}.tpd-size-small .tpd-spinner{width:42px;height:32px}.tpd-size-small .tpd-spinner-spin{margin:7px
0 0 13px}.tpd-size-small .tpd-spinner-spin,
.tpd-size-small .tpd-spinner-spin:after{width:18px;height:18px}.tpd-size-medium .tpd-content,
.tpd-size-medium .tpd-title{padding:10px;font-size:11px;line-height:16px}.tpd-size-medium .tpd-background{border-radius:8px}.tpd-size-medium .tpd-stem{width:16px;height:8px;margin-left:6px;margin-top:2px}.tpd-size-medium.tpd-no-radius .tpd-stem{margin-left:10px}.tpd-size-medium .tpd-close{margin:4px
2px}.tpd-size-medium .tpd-spinner{width:50px;height:36px}.tpd-size-medium .tpd-spinner-spin{margin:8px
0 0 15px}.tpd-size-medium .tpd-spinner-spin,
.tpd-size-medium .tpd-spinner-spin:after{width:20px;height:20px}.tpd-size-large .tpd-content,
.tpd-size-large .tpd-title{padding:10px;font-size:13px;line-height:18px}.tpd-size-large .tpd-background{border-radius:8px}.tpd-size-large .tpd-stem{width:18px;height:9px;margin-left:7px;margin-top:2px}.tpd-size-large.tpd-no-radius .tpd-stem{margin-left:10px}.tpd-size-large .tpd-close{margin:5px
2px 5px 2px}.tpd-size-large .tpd-spinner{width:54px;height:38px}.tpd-size-large .tpd-spinner-spin{margin:9px
0 0 17px}.tpd-size-large .tpd-spinner-spin,
.tpd-size-large .tpd-spinner-spin:after{width:20px;height:20px}.tpd-skin-dark .tpd-content,
.tpd-skin-dark .tpd-title,
.tpd-skin-dark .tpd-close{color:#fff}.tpd-skin-dark .tpd-background-content,
.tpd-skin-dark .tpd-background-title{background-color:#282828}.tpd-skin-dark .tpd-background{border-width:1px;border-color:#282828;border-color:rgba(255,255,255,.1)}.tpd-skin-dark .tpd-title-wrapper{border-bottom:1px solid #404040}.tpd-skin-dark .tpd-spinner-spin{border-color:rgba(255,255,255,.2);border-left-color:#fff}.tpd-skin-dark
a{color:#ccc}.tpd-skin-dark a:hover{color:#c0c0c0}.tpd-skin-light .tpd-content,
.tpd-skin-light .tpd-title,
.tpd-skin-light .tpd-close{color:#333}.tpd-skin-light .tpd-background-content{background-color:#fff}.tpd-skin-light .tpd-background{border-width:1px;border-color:#838383;border-color:rgba(0,0,0,.3)}.tpd-skin-light .tpd-background-title{background-color:#f7f7f7}.tpd-skin-light .tpd-title-wrapper{border-bottom:1px solid #c0c0c0}.tpd-skin-light .tpd-background-shadow{box-shadow:0 0 8px rgba(0,0,0,.15)}.tpd-skin-light.tpd-no-shadow .tpd-background{border-color:#acacac;border-color:rgba(100,100,100,.3)}.tpd-skin-light .tpd-spinner-spin{border-color:rgba(51,51,51,.2);border-left-color:#333}.tpd-skin-light
a{color:#808080}.tpd-skin-light a:hover{color:#6c6c6c}.tpd-skin-gray .tpd-content,
.tpd-skin-gray .tpd-title,
.tpd-skin-gray .tpd-close{color:#fff}.tpd-skin-gray .tpd-background-content,
.tpd-skin-gray .tpd-background-title{background-color:#727272}.tpd-skin-gray .tpd-background{border-width:1px;border-color:#727272;border-color:rgba(255,255,255,.1)}.tpd-skin-gray .tpd-title-wrapper{border-bottom:1px solid #505050}.tpd-skin-gray .tpd-spinner-spin{border-color:rgba(255,255,255,.2);border-left-color:#fff}.tpd-skin-gray
a{color:#ccc}.tpd-skin-gray a:hover{color:#b6b6b6}.tpd-skin-red .tpd-content,
.tpd-skin-red .tpd-title,
.tpd-skin-red .tpd-close{color:#fff}.tpd-skin-red .tpd-background-content{background-color:#e13c37}.tpd-skin-red .tpd-background{border-width:1px;border-color:#a30500;border-color:rgba(12,0,0,.6)}.tpd-skin-red .tpd-background-title{background-color:#e13c37}.tpd-skin-red .tpd-title-wrapper{border-bottom:1px solid #a30500}.tpd-skin-red .tpd-background-shadow{box-shadow:0 0 8px rgba(0,0,0,.15)}.tpd-skin-red .tpd-spinner-spin{border-color:rgba(255,255,255,.2);border-left-color:#fff}.tpd-skin-red
a{color:#ddd}.tpd-skin-red a:hover{color:#c6c6c6}.tpd-skin-green .tpd-content,
.tpd-skin-green .tpd-title,
.tpd-skin-green .tpd-close{color:#fff}.tpd-skin-green .tpd-background-content{background-color:#4aab3a}.tpd-skin-green .tpd-background{border-width:1px;border-color:#127c00;border-color:rgba(0,12,0,.6)}.tpd-skin-green .tpd-background-title{background-color:#4aab3a}.tpd-skin-green .tpd-title-wrapper{border-bottom:1px solid #127c00}.tpd-skin-green .tpd-background-shadow{box-shadow:0 0 8px rgba(0,0,0,.15)}.tpd-skin-green .tpd-spinner-spin{border-color:rgba(255,255,255,.2);border-left-color:#fff}.tpd-skin-green
a{color:#ddd}.tpd-skin-green a:hover{color:#c6c6c6}.tpd-skin-blue .tpd-content,
.tpd-skin-blue .tpd-title,
.tpd-skin-blue .tpd-close{color:#fff}.tpd-skin-blue .tpd-background-content{background-color:#45a3e3}.tpd-skin-blue .tpd-background{border-width:1px;border-color:#1674b4;border-color:rgba(0,0,12,.6)}.tpd-skin-blue .tpd-background-title{background-color:#45a3e3}.tpd-skin-blue .tpd-title-wrapper{border-bottom:1px solid #1674b4}.tpd-skin-blue .tpd-background-shadow{box-shadow:0 0 8px rgba(0,0,0,.15)}.tpd-skin-blue .tpd-spinner-spin{border-color:rgba(255,255,255,.2);border-left-color:#fff}.tpd-skin-blue
a{color:#ddd}.tpd-skin-blue a:hover{color:#c6c6c6}.tpd-skin-lightyellow .tpd-content,
.tpd-skin-lightyellow .tpd-title,
.tpd-skin-lightyellow .tpd-close{color:#333}.tpd-skin-lightyellow .tpd-background-content{background-color:#ffffa9}.tpd-skin-lightyellow .tpd-background{border-width:1px;border-color:#9d9c8c;border-color:rgba(8,8,0,.35)}.tpd-skin-lightyellow .tpd-background-title{background-color:#ffffa9}.tpd-skin-lightyellow .tpd-title-wrapper{border-bottom:1px solid #a7a697}.tpd-skin-lightyellow .tpd-background-shadow{box-shadow:0 0 8px rgba(0,0,0,.15)}.tpd-skin-lightyellow .tpd-spinner-spin{border-color:rgba(51,51,51,.2);border-left-color:#333}.tpd-skin-lightyellow
a{color:#777}.tpd-skin-lightyellow a:hover{color:#868686}.tpd-skin-lightblue .tpd-content,
.tpd-skin-lightblue .tpd-title,
.tpd-skin-lightblue .tpd-close{color:#333}.tpd-skin-lightblue .tpd-background-content{background-color:#bce5ff}.tpd-skin-lightblue .tpd-background{border-width:1px;border-color:#7c868a;border-color:rgba(0,0,8,.35)}.tpd-skin-lightblue .tpd-background-title{background-color:#bce5ff}.tpd-skin-lightblue .tpd-title-wrapper{border-bottom:1px solid #909b9f}.tpd-skin-lightblue .tpd-background-shadow{box-shadow:0 0 8px rgba(0,0,0,.15)}.tpd-skin-lightblue .tpd-spinner-spin{border-color:rgba(51,51,51,.2);border-left-color:#333}.tpd-skin-lightblue
a{color:#777}.tpd-skin-lightblue a:hover{color:#868686}.tpd-skin-lightpink .tpd-content,
.tpd-skin-lightpink .tpd-title,
.tpd-skin-lightpink .tpd-close{color:#333}.tpd-skin-lightpink .tpd-background-content{background-color:#ffc4bf}.tpd-skin-lightpink .tpd-background{border-width:1px;border-color:#8d817c;border-color:rgba(8,0,0,.35)}.tpd-skin-lightpink .tpd-background-title{background-color:#ffc4bf}.tpd-skin-lightpink .tpd-title-wrapper{border-bottom:1px solid #a08f8f}.tpd-skin-lightpink .tpd-background-shadow{box-shadow:0 0 8px rgba(0,0,0,.15)}.tpd-skin-lightpink .tpd-spinner-spin{border-color:rgba(51,51,51,.2);border-left-color:#333}.tpd-skin-lightpink
a{color:#777}.tpd-skin-lightpink a:hover{color:#868686}