<div class="grid parent-container" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/2.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/2.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/3.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/3.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/7.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/7.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/9.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/9.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/31.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/31.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/32.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/32.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/33.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/33.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/34.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/34.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/36.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/36.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/37.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/37.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/38.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/38.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/39.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/39.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/40.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/40.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/45.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                    </div>
                    <div class="gallery-poster"
                         style="background-image:url('images/45.jpeg');"></div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/46.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/46.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/47.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/47.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/48.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/48.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/49.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/49.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/50.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/50.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/54.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/54.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/55.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/55.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/58.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/58.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/4.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/4.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a href="images/11.jpeg"
                   class="element-item image-link">
                    <div style="overflow:hidden">
                        <div class="gallery-poster"
                             style="background-image:url('images/11.jpeg');"></div>
                    </div>
                    <div class="gal-overlay">
                        <div class="photo"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>